aiohappyeyeballs==2.4.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
aiohttp==3.11.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
aiosignal==1.3.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
altair==5.5.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
annotated-types==0.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
anthropic==0.39.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
anyio==4.6.2.post1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
appnope==0.1.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
argon2-cffi==23.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
arrow==1.3.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
asttokens==2.4.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
async-lru==2.0.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
attrs==24.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
babel==2.16.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
beautifulsoup4==4.12.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
bleach==6.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
blinker==1.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cachetools==5.5.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
certifi==2024.8.30 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cffi==1.17.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
charset-normalizer==3.4.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
click==8.1.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
colorama==0.4.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
contourpy==1.3.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cryptography==43.0.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
cycler==0.12.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
dataclasses-json==0.6.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
debugpy==1.8.9 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
decorator==5.1.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
deepl==1.20.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
defusedxml==0.7.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
distro==1.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
executing==2.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
faiss-cpu==1.9.0.post1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
fastjsonschema==2.20.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
feedparser==6.0.11 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
fonttools==4.55.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
fqdn==1.5.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
frozenlist==1.5.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
gitdb==4.0.11 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
gitpython==3.1.43 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
googleapis-common-protos==1.66.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
greenlet==3.1.1 ; python_version < "3.12.dev0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.11.dev0"
grpcio==1.68.0 ; python_version >= "3.11" and python_version < "3.12.dev0"
h11==0.14.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
httpcore==1.0.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
httpx-sse==0.4.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
httpx==0.27.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
idna==3.10 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipykernel==6.29.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipython==8.29.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipywidgets==8.1.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
isoduration==20.11.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jedi==0.19.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jinja2==3.1.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jiter==0.7.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
joblib==1.4.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
json5==0.9.28 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jsonpatch==1.33 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jsonpointer==3.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jsonschema==4.23.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jsonschema[format-nongpl]==4.23.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-client==8.6.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-console==6.6.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-core==5.7.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-events==0.10.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-lsp==2.2.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-server-terminals==0.5.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-server==2.14.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter==1.1.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyterlab-pygments==0.3.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyterlab-server==2.27.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyterlab-widgets==3.0.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyterlab==4.2.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
kiwipiepy-model==0.20.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
kiwipiepy==0.20.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
kiwisolver==1.4.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain-community==0.3.8 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain-core==0.3.21 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain-experimental==0.3.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain-openai==0.2.10 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain-teddynote==0.3.31 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain-text-splitters==0.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langchain==0.3.8 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langgraph-checkpoint==2.0.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langgraph-sdk==0.1.36 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langgraph==0.2.53 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
langsmith==0.1.146 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
lz4==4.3.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
markdown-it-py==3.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
markupsafe==3.0.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
marshmallow==3.23.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
matplotlib-inline==0.1.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
matplotlib==3.9.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
mdurl==0.1.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
mistune==3.0.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
mmh3==4.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
msgpack==1.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
multidict==6.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
mypy-extensions==1.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
narwhals==1.14.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
nbclient==0.10.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
nbconvert==7.16.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
nbformat==5.10.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
nest-asyncio==1.6.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
nltk==3.9.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
notebook-shim==0.2.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
notebook==7.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
numpy==1.26.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
olefile==0.47 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
openai==1.55.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
orjson==3.10.12 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
overrides==7.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
packaging==24.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pandas==2.2.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pandocfilters==1.5.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
parso==0.8.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pdf2image==1.17.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pdfminer-six==20231228 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pdfplumber==0.11.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pexpect==4.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pinecone-client[grpc]==5.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pinecone-plugin-inference==1.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pinecone-plugin-interface==0.0.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pinecone-text==0.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
platformdirs==4.3.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
prometheus-client==0.21.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
prompt-toolkit==3.0.48 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
propcache==0.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
protobuf==4.25.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
protoc-gen-openapiv2==0.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
psutil==6.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ptyprocess==0.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and (os_name != "nt" or sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyarrow==18.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pycparser==2.22 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pydantic-core==2.27.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pydantic-settings==2.6.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pydantic==2.10.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pydeck==0.9.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pygments==2.18.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyparsing==3.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pypdfium2==4.30.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dotenv==1.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-json-logger==2.0.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pytz==2024.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pywinpty==2.0.14 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and os_name == "nt"
pyyaml==6.0.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyzmq==26.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
rank-bm25==0.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
referencing==0.35.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
regex==2024.11.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
requests-toolbelt==1.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
requests==2.32.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
rfc3339-validator==0.1.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
rfc3986-validator==0.1.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
rich==13.9.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
rpds-py==0.21.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
seaborn==0.13.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
send2trash==1.8.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
setuptools==75.6.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
sgmllib3k==1.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
six==1.16.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
smmap==5.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
sniffio==1.3.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
soupsieve==2.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
sqlalchemy==2.0.35 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
stack-data==0.6.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
streamlit==1.40.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tavily-python==0.5.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tenacity==9.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
terminado==0.18.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tiktoken==0.8.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tinycss2==1.4.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
toml==0.10.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tornado==6.4.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tqdm==4.67.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
traitlets==5.14.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
types-python-dateutil==2.9.0.20241003 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
types-requests==2.32.0.20241016 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
typing-extensions==4.12.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
typing-inspect==0.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tzdata==2024.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
uri-template==1.3.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
urllib3==2.2.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
watchdog==6.0.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and platform_system != "Darwin"
wcwidth==0.2.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
webcolors==24.11.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
webencodings==0.5.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
websocket-client==1.8.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
wget==3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
widgetsnbextension==4.0.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
yarl==1.18.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
